@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

h2{
  font-size: 20px !important;
}

body{
  background-color: cadetblue !important;
  color: white !important;
  font-family: 'Open Sans', sans-serif;
}

p{
  font-size: 15px !important;
}